
.scrolling-text {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 30px;
  bottom: 145px;
  color: #feda4a;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 22px;
  font-weight: 600;
  height: 70%;
  letter-spacing: 3px;
  line-height: 150%;
  margin: 181px auto;
  position: relative;
  text-align: center;
  width: 50%;
}

.scrolling-text h1 {
  line-height: 160%;
}