@import url('https://fonts.googleapis.com/css?family=Orbitron');

.App {
  text-align: center;
}

header {
  background-image: url('../images/logo.png');
  background-size: 250px;
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

h1 {
  color: #fbde33;
  font-family: Orbitron;
  font-size: 40px;
  margin-top: 150px;
}
