@import url('https://fonts.googleapis.com/css?family=Orbitron');

button {
  background-color: #FFA1A1;
  border-color: #FFA1A1;
  border-radius: 10px;
  box-shadow: 0px 0px 50px #FD0101;
  color: #1f1f1f;
  font-family: Orbitron;
  font-size: 20px;
  height: 55px;
  margin: 20px 20px 30px;
  width: 150px;
}

button:hover {
  background-color: #9AEAFF;
  border-color: #9AEAFF;
  box-shadow: 0px 0px 50px #013EFE;
  cursor: pointer;
}

button:focus {
  outline: none;
}

.active {
  background-color: #9AEAFF;
  border-color: #9AEAFF;
  box-shadow: 0px 0px 50px #013EFE;
}